<app-chat-selector></app-chat-selector>
<mat-card class="chat-container">
    <mat-card class="messages">
        <div class="message" *ngFor="let m of messages">
            <span>{{ m.from.name }} : </span>
            <span>{{ m.content }}</span>
        </div>
    </mat-card>
    <form #messageForm="ngForm" (ngSubmit)="onSend(messageForm)" class="form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Your message" [(ngModel)]="message" id="message" name="message">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Send</button>
    </form>
</mat-card>
