<div class="login-container">
    <div *ngIf="!userIsLogin">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Your email" type="email" id="email" name="email" [(ngModel)]="email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Your password" type="password" id="password" name="password"
                    [(ngModel)]="password">
            </mat-form-field>
            <button mat-flat-button color="primary" type="submit">Connexion</button>
        </form>
    </div>
    <div *ngIf="userIsLogin">
        <button mat-flat-button color="primary" (click)="onSignOut()">Deconnexion</button>
    </div>
</div>

