:host() {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}  
#serveurSelection {
    margin-right: 1em;
}

mat-card {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    mat-select, input {
        margin-left: 1em;
    }
    button {
        margin-left: 1em;
    }
}